@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
	--font-sans:
		"Work Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	--shadow-glow: 0 0 10px;
	--inset-shadow-card: inset 0 1px 4px;

	--animate-glow-flicker: glowFlicker 2s infinite;
	@keyframes glowFlicker {
		0%,
		100% {
			opacity: 1;
		}
		50% {
			opacity: 0.8;
		}
	}
}
