---
import Background from "../components/Background.astro";
import ServiceList from "../components/ServiceList";
import "../styles/global.css";
---
<html lang="en">
	<link rel="stylesheet" href="node_modules/modern-normalize/modern-normalize.css">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/kiss_favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Loading configuration • KISS</title>
	</head>
	 <body class="font-sans text-gray-200">
		<Background>
			<ServiceList client:only="preact"/>
		</Background>
	</body>
</html>
